 <ul class="collapsible col s12 m8 offset-m2" data-collapsible="accordion">

 	{{#each journey}}
    <li>
      <div class="collapsible-header">
      	<i class="material-icons">my_location</i>First</div>
      	<div class="collapsible-body">
      		<p>{{arrival_data_time}}</p>
      </div>
    </li>
    {{/each}}

 </ul>