<form id="searchbox" class="col s10 offset-s1 m8 offset-m2">

  <div class="row">
    <div class="input-field">
      <input type="text" id="autocomplete-input-from" class="autocomplete">
      <label for="autocomplete-input">From</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field">
      <input type="text" id="autocomplete-input-to" class="autocomplete">
      <label for="autocomplete-input">To</label>
    </div>
  </div>

  <div class="row center-align">
      <a id="searchbox_button" class="waves-effect waves-light btn">Find journey.</a>
  </div>
</form>